.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 8px;
  padding: 16px;
  border: 5px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.product-card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-description {
  font-size: 0.9rem;
  color: white;
  margin-top: 5px;
}

.product-card p {
  font-size: 1em;
  margin: 10px 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-card .price {
  font-size: 1.2em;
  color: black;
}

.out-of-stock {
  color: red;
  font-style: italic;
}

.add-to-cart-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.add-to-cart-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .product-card {
    width: 100%;
    max-width: 100%;
  }

  .product-image {
    height: 150px;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-description {
    font-size: 0.8rem;
  }

  .add-to-cart-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}