/* General styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; /* Center align the text */
}

.welcome-text {
  font-size: 2.5rem; /* Set an appropriate font size */
  margin-bottom: 20px;
  color: white !important; /* Ensure the text color is white */
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%; /* Ensure it takes up the full width */
  padding: 50px 20px;
}

.hero-text {
  margin-bottom: 40px; /* Add margin to the bottom */
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: darkgreen;
}

.featured-meals-title {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.featured-meals {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Ensure the product cards wrap on smaller screens */
  margin-bottom: 50px; /* Adjust the value as needed */
}

.opening-times {
  margin-top: 40px;
  text-align: center;
  color: white; /* Set the font color to white */
}

.opening-times h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.opening-times p {
  font-size: 1.2rem;
  margin: 5px 0;
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5em;
  }

  .hero-text p {
    font-size: 0.9em;
  }

  .container {
    padding: 20px;
  }
}